.App {
  text-align: center;
}

.App-header {
  background-color: #90d3e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.781);
}


button {
  font-size: calc(10px + 2vmin);
}
